// 修改全局quill-editor的某些样式
.ql-container {
  font-size: 16px !important;
}

.ql-toolbar {
  border: none !important;
  box-shadow: 0 0 2px 0 #ccc;
}

.ql-editor {
  line-height: 1.5 !important;
  word-break: break-word;
}

// 修改全局vuetify的某些样式
.v-btn {
  text-transform: unset;
}

.v-textarea--auto-grow .v-field__input {
  overflow: auto !important;
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

.v-textarea--auto-grow .v-field__field {
  position: relative;
}

.v-textarea--auto-grow .v-field__field:after {
  content: "";
  width: 7px;
  height: 100%;
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 0;
  right: 0;
}
